.resetButton {
    font-size:25px;
    background-color: rgb(82, 29, 167);
    width: 200px;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 30px;
    border-color: gray;
    border-width: 5px;
}